* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2CB3F3;
    display: flex;
    height: 100vh;
    flex-direction: column;
    //flex-direction: column; essa propriedade muda o eixo, justify -> altura e align-> largura
    justify-content: center; //x largura
    align-items: center; //y altura
}

.capuz {
    background-color: #FFFFFF;
    width: 50vw;
    height: 60vh;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rosto {
    background-color: #FFE1C9;
    width: 40vw;
    height: 50vh;
    border-radius: 100%;
}

.container {
    display: flex;
    justify-content: space-between;

    div {
        background-color: black;
        width:3vw;
        height: 8vh;
        border-radius: 100%;
        
    }
}

// POSITION é uma propriedade que controla a posição dos elementos

.olho1{
    position: relative;
    top: 70px;
    left: 135px;
}

.olho2{
    position: relative;
    top: 70px;
    right: 135px;
}